.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .product {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .productImg {
      width: 200px;
    }

    .productName {
      min-width: 200px;
      max-width: 200px;
    }
  }
}

.buttonSquad {
  display: flex;
  .quantityButton {
    background-color: #DDD;
    min-width: 50px;
    border: none;
    cursor: pointer;
  }
  .deleteIcon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
}


.checkoutButton {
  min-width: 100px;
  min-height: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .product {
    flex-direction: column;
  }
}

@media screen and (min-width: 801px) {

}