@import '../../Mixins';

$footwear: url('./../../assets/images/footwear.jpg');
$pants: url('./../../assets/images/pants.jpg');
$hoodie: url('./../../assets/images/hoodie.jpg');
$shirt: url('./../../assets/images/shirt.jpg');
$jacket: url('./../../assets/images/jacket.jpg');
$headgear: url('./../../assets/images/headwear.jpg');
$collection: url('./../../assets/images/collection.jpg');
$men: url('./../../assets/images/men.jpeg');
$women: url('./../../assets/images/women.jpeg');

$flex-basis-desktop: 80% / 6;
$flex-basis-mobile: 80% / 2;

.startingImage {
  @include flexCenter;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: $collection;
  flex-direction: column;

  div {
    @include flexCenter;

    background-color: #335694;

    margin: 10px;
    padding: 0 1rem 0 1rem;

  }
  .mainMessage {
    margin: 10px;
    font-weight: 700;
    color: #FFF;
  }
}

.genders {
  @include flexCenter;
  flex-wrap: wrap;
  a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40vw;
    flex-basis: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 10px 5px 10px 5px;
    p {
      display: none;
    }
    &:hover {
      p {
        display: block;
        margin: 20px;
        font-weight: 700;
        padding: 10px;
        color: #FFF;
      }
      .menText {
        background-color: #3d50ab;
      }
      .womenText {
        background-color: #a58faa;
      }
    }
  }
  .men {
    background-image: $men;
  }
  .women {
    background-image: $women;
  }
}

.clothesCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    background-repeat: no-repeat;
    background-position: center;
    p {
      display: none;
    }
    &:hover {
      opacity: .7;
      p {
        display: block;
        font-weight: 700;
        background-color: #FFF;
        padding: 5px;
      }
    }
  }
  .footwear {
    background-image: $footwear;
  }
  .pants {
    background-image: $pants;
  }
  .hoodie {
    background-image: $hoodie;
  }
  .shirt {
    background-image: $shirt;
  }
  .jacket {
    background-image: $jacket;
  }
  .headgear {
    background-image: $headgear;
  }
}

@media screen and (max-width: 800px) {
  .clothesCategories {
    a {
      flex-basis: $flex-basis-mobile;
      background-size: 50%;
    }
  }
}

@media screen and (min-width: 801px) {
  .clothesCategories {
    a {
      flex-basis: $flex-basis-desktop;
      background-size: 100%;
    }
  }
}