
.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .productWrap {
    flex-basis: 300px;

    .productImage {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200px;
    }

    .addToCart {
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      .cartIcon {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
  }
}