.label {
  margin: 50px;
}
.wrapper {
  display: flex;
  justify-content: center;
  .productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80vw;
  }
}

.pagination {
  margin: 50px;
  button {
    border: none;
    background-color: #DDDDDD;
    padding: 10px;
    border-radius: 5px;
  }
  .currentPage {
    margin: 10px;
  }
}



@media screen and (min-width: 1201px) {
  .productWrap {
      flex-basis: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .productWrap {
      flex-basis: 33%;
  }
}

@media screen and (max-width: 1000px) {
  .productWrap {
      flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .productWrap {
      flex-basis: 100%;
  }
}