
.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .productWrap {
    flex-basis: 300px;

    .productImage {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200px;
    }

    .addToCart {
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding: 10px;

      button {
        border: none;
        min-width: 100px;
        min-height: 30px;
        border-radius: 50px;
        cursor: pointer;
      }

      .onAddToCart:active {
        transition-duration: .1s;
        background-color: #a58faa;
      }

      .cartIcon {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
  }
}