.searchbar {
  width: 100vw;
  height: 50px;
  top: 50px;
  background-color: #fff;
  animation: slide-down 1s;
  position: fixed;
  z-index: 0;
  border-bottom: 1px solid #ddd;

  .inputField {
    width: 50vw;
    height: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
  }
}

@keyframes slide-down {
  0% {
    top: 0;
  }

  100% {
    top: 50px;
  }
}
