.searchbar {
  width: 100vw;
  height: 50px;
  background-color: #FFF;
  transform: translateY(50px);
  position: fixed;
  z-index: 0;
  .inputField {
    width: 50vw;
    height: inherit;
    border: none;
    outline: none;
  }
}