.itemPage {
  padding: 50px 0 50px 0;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    .itemImage {
    }
    .infoBlock {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: left;
      p {
        color: #878787;
        font-weight: 700;
      }

      select {

        padding: 10px;
      }

      .addToCart {
        border: none;
        background-color: #767676;
        height: 50px;
        color: #FFF;
        cursor: pointer;
        &:hover {
          background-color: #252525;
          transition: background-color .5s;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .item {
    flex-direction: column;
  }
  .itemImage {
    width: 70vw;
  }
  .infoBlock {
    width: 70vw;
  }
}

@media screen and (min-width: 801px) {
  .itemImage {
    width: 20vw;
  }
  .infoBlock {
    width: 30vw;
  }
}
