.adminPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inputField {
    width: 30vw;
    height: 3vh;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #DDDDDD;
  }
  .postButton {
    width: 10vw;
    height: 3vh;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #DDDDDD;
  }
}

.errorPage {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 100px;
  }
  h2 {
    margin: 20px;
  }
}
