.adminPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  table {
    width: 90vw;
    text-align: left;
    tbody {
      .firstRow {
        background-color: #767676;
      }
      tr {
        td {
          padding: 10px;
        }
        &:nth-child(even) {
          background-color: #DDDDDD;
        }
        &:hover {
          background-color: #3d50ab;
        }
      }
    }
  }
}
