@mixin navColor {
  color: #969696;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #252525;
  }
}

@mixin gridCenter {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin heightPreference {
  height: 50px;
}

.navDesktop {
  @include gridCenter;
  @include heightPreference;
  width: 100vw;
  position: fixed;
  background-color: #303030;
  grid-template-areas: "logo navigation";
  grid-template-columns: 7% 93%;
  z-index: 1;
  .logo {
    max-width: 40px;
    max-height: 40px;
    grid-area: logo;
  }
  .desktopNavbar {
    @include gridCenter;
    grid-area: navigation;
    grid-template-areas: "navList interactionGroup";
    grid-template-columns: 70% 30%;
    .navigationList {
      display: flex;
      grid-area: navList;
      li {
        list-style: none;
        display: flex;
        a {
          @include navColor;
          @include flexCenter;
          @include heightPreference;
          padding: 10px;
        }
      }
    }
    .interactionGroup {
      @include gridCenter;
      @include heightPreference;
      grid-area: interactionGroup;
      grid-template-columns: 70px 70px 70px;
      grid-template-areas: 'search auth cart';
      justify-content: flex-end;
      .searchIcon {
        @include flexCenter;
        @include heightPreference;
        grid-area: search;
        cursor: pointer;
        img {
          color: #262626;
          width: 20px;
        }
      }
      .logButton {
        @include flexCenter;
        @include navColor;
        @include heightPreference;
        grid-area: auth;
        cursor: pointer;
        text-align: left;
      }
      .cartIcon {
        @include flexCenter;
        @include heightPreference;
        grid-area: cart;
        img {
          padding: 5px;
        }
        p {
          @include navColor
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navDesktop {
    display: none;
  }
}



/* Login container */

