@mixin navColor {
  color: #969696;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridCenter {
  display: grid;
  align-items: center;
  justify-content: center;
}

.navDesktop {
  @include gridCenter;
  min-height: 54px;
  height: 6vh;
  width: 100vw;
  position: fixed;
  background-color: #303030;
  grid-template-areas: "logo . navigation";
  grid-template-columns: 5% 2% 93%;
  .logo {
    max-width: 50px;
    max-height: 50px;
    grid-area: logo;
  }
  .desktopNavbar {
    @include gridCenter;
    grid-area: navigation;
    grid-template-areas: "navList interactionGroup";
    grid-template-columns: 70% 30%;
    .navigationList {
      display: flex;
      grid-area: navList;
      li {
        margin: 10px;
        list-style: none;
        a {
          @include navColor;
        }
      }
    }
    .interactionGroup {
      @include gridCenter;
      grid-area: interactionGroup;
      grid-template-columns: 70px 70px 70px;
      grid-template-areas: 'search auth cart';
      justify-content: flex-end;
      margin-right: 30px;
      .searchIcon {
        grid-area: search;
        @include flexCenter;
        img {
          color: #262626;
          width: 20px;
          cursor: pointer;
        }
      }
      .logButton {
        @include flexCenter;
        @include navColor;
        grid-area: auth;
        cursor: pointer;
        text-align: left;
      }
      .cartIcon {
        @include flexCenter;
        grid-area: cart;
        img {
          padding: 5px;
        }
        p {
          @include navColor
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navDesktop {
    display: none;
  }
}



/* Login container */

