@use "./../../mixins.scss" as mixins;

$base-size: 50px;

.navMobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $base-size;
  background-color: #303030;
  position: fixed;
  z-index: 1;
  .dropdown {
    overflow: hidden;
    font-family: Arial;
    &:hover {
      .dropdownContent {
        display: block;
      }
    }
    .dropBtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
      height: $base-size;
      .navIcon {
        @include mixins.navElemMobile;
        @include mixins.darkenOnHover;
        margin-right: $base-size;
      }
    }
    .dropdownContent {
      transform: translateY(-4px);
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 40px;
    }
  }
  .functionalityGroup {
    @include mixins.flexCenter;
    .searchWrapper {
      @include mixins.navElemMobile;
      @include mixins.flexCenter;
      @include mixins.darkenOnHover;
      cursor: pointer;
      img {
        width: 20px;
      }
    }
    .cartWrapper {
      @include mixins.navElemMobile;
      @include mixins.flexCenter;
      @include mixins.darkenOnHover;
      p {
        color: #dddddd;
        margin: 5px;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .navMobile {
    display: none;
  }
}
