@media screen and (max-width: 800px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    background-color: #303030;
    position: fixed;
    z-index: 100;
    transform: translateX(-100%);
    transition: 0.3s;
    top: 0;

    .sidebarHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      height: 50px;
      background-color: #252525;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      font-family: Montserrat;

      .close {
        cursor: pointer;
      }
    }
  }
}
