.footer {
  background-color: #2d2d2d;
  color: #000;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 20px;
    color: #FFF;
  }
  p {
    border-top: 3px solid #DDD;
    padding-top: 30px;
    width: 80vw;
    color: #DDD;
    a {
      font-weight: 700;
      color: #a58faa;
    }
  }
}