$base-size: 50px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  color: #fff;
  width: 100vw;
  @include flexCenter;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

@mixin navColor {
  color: #969696;
}

@mixin darkenOnHover {
  &:hover {
    background-color: #252525;
  }
}

@mixin gridCenter {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin heightPreference {
  height: 50px;
}

@mixin navElemMobile {
  width: $base-size;
  height: 100%;
}
